.navfix {
    background-color: var(--dark);
    color: #fff;
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: left;
    padding: 13px;
    position: fixed;
    z-index: 999;
    top: 0px;
    right: 0px; 
    left: 0px;
}
